
Lab_1/Lab_1/.vs/Lab_1/v16/.suo
Lab_1/Lab_1/.vs/Lab_1/v16/Browse.VC.db
Lab_1/Lab_1/.vs/Lab_1/v16/Browse.VC.opendb
Lab_1/Lab_1/.vs/Lab_1/v16/ipch/AutoPCH/25e2c12f01203fc2/GUI.ipch
Lab_1/Lab_1/.vs/Lab_1/v16/ipch/AutoPCH/c7a3d9703a35d10/LAB_1.ipch
Lab_1/Lab_1/.vs/Lab_1/v16/ipch/AutoPCH/df69948e44d2bf1d/EXE_COMMON.ipch
Lab_1/Lab_1/Debug/GUI.obj
*.ilk
Lab_1/Lab_1/Debug/Lab_1.log
Lab_1/Lab_1/Debug/Lab_1.obj
Lab_1/Lab_1/Debug/Lab_1.pdb
Lab_1/Lab_1/Debug/Lab_1.tlog/CL.command.1.tlog
Lab_1/Lab_1/Debug/Lab_1.tlog/CL.read.1.tlog
Lab_1/Lab_1/Debug/Lab_1.tlog/CL.write.1.tlog
Lab_1/Lab_1/Debug/Lab_1.tlog/Lab_1.lastbuildstate
Lab_1/Lab_1/Debug/Lab_1.tlog/link.command.1.tlog
Lab_1/Lab_1/Debug/Lab_1.tlog/link.read.1.tlog
Lab_1/Lab_1/Debug/Lab_1.tlog/link.write.1.tlog
Lab_1/Lab_1/Debug/vc142.idb
Lab_1/Lab_1/Debug/vc142.pdb
